.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
  padding: 12px 24px;
  backdrop-filter: blur(12px);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* Enlaces del navbar */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: rgb(69, 81, 191);
  font-size: 15px;
  transition: color 0.3s;
}

.navbar-links li a.active,
.navbar-links li a:hover {
  color: rgb(251, 252, 255);
  font-weight: bold;
}

/* Íconos sociales */
.navbar-icons a {
  color: white;
  font-size: 18px;
  margin-left: 16px;
  transition: transform 0.3s, color 0.3s;
}

.navbar-icons a:hover {
  transform: scale(1.2);
  color: #1db954;
}

/* Responsive - solo se muestra en pantallas grandes */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.navbar-logo a {
  font-weight: bold;
  font-size: 20px;
  color: #168ac8d1;
  text-decoration: none;
  animation: popin 0.6s ease;
}

@keyframes popin {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar-container {
  width: 90%;
  max-width: 1100px;
  background: transparent;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggle {
  margin-left: 1rem;
}

.navbar-toggle button {
  background: none;
  border: 1px solid #888;
  padding: 6px 10px;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navbar-toggle button:hover {
  background: rgba(255, 255, 255, 0.1);
}


/* Tema oscuro */
.navbar.dark {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #004080; /* Azul oscuro */
  color: white;
}

/* Tema claro */
.navbar.light {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #66b2ff; /* Azul claro */
  color: #222;
}